body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    background: url("images/background.jpg");
    overflow: hidden;
}

.card{
    display: grid;
    height: 500px;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "content" "footer";
    
    /* border: 1px solid gold; */
    border-radius: 18px;
    background: white;
    text-align: center;
    font-family: roboto;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    margin: 30px;

    transition: 0.5s ease;
    cursor: pointer;


}

.card-img{
    background: url('images/img1.jpg');
    grid-area: image;
    border-top-right-radius: 15px ;
    border-top-left-radius: 15px ;
    background-size: cover;
}

.card-content{
    grid-area: content;
    margin: 25px;
}

.card .date{
    color: rgb(255, 7, 110);
    font-size: 13px;
}

.card-content h2{
    margin-top: 0px;
    font-size: 28px;
}

.card-content p{
    color: grey;
    font-weight: 300;
    font-size: 15px;

}

.card-footer{
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background: rgb(255, 7, 110);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.card-footer .stat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;

}
.card-footer .border {
  border-left: 1px solid rgb(172, 26, 87);
  border-right: 1px solid rgb(172, 26, 87);
}

.card:hover{
    transform: scale(1.10);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}